@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

.back-image {
  /* This image will be displayed fullscreen */
  background:url('./assets/images/back01.jpg') no-repeat center center;
  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}





















